
/* WALLET DROPDOWN */

  /* Clearing floats */
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    *zoom: 1;
  }
  
  /* Mini reset, no margins, paddings or bullets */
  .menu,
  .submenu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Main level */
  .menu {			
    width: 800px;
    /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;	
  }
  
  .menu > li {
    background: #09090d;
    float: left;
    position: relative;
    /* transform: skewX(25deg); */
  }
  
  .menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
  }		
  
  .menu li:hover {
    background: #09090d;
  }		
  
  .menu > li > a {
    /* transform: skewX(-25deg); */
  }
  
  /* Dropdown */
  .submenu {
    position: absolute;
    width: 200px;
    left: 50%; margin-left: -100px;
    /* transform: skewX(-25deg); */
    transform-origin: left top;
  }
  
  .submenu li {
    background-color: #75437a;
    position: relative;
    overflow: hidden;		
  }						
  
  .submenu > li > a {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  .submenu > li > a > img {
    margin-right: 10px;
    width: 28px; 
    height: 28px;
  }

  .connected-wallet-button {
    display: flex !important; 
    align-items: center;
    /* margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding-right: 15px;
    padding-left: 15px; */
    padding: 15px !important;
  }

  .connected-wallet-button > img {
    margin-right: 10px;
  }
  
  .submenu > li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;			
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
  }		
  
  /* Odd stuff */
  .submenu > li:nth-child(odd){
    /* transform: skewX(-25deg) translateX(0); */
  }
  
  .submenu > li:nth-child(odd) > a {
    /* transform: skewX(25deg); */
  }
  
  .submenu > li:nth-child(odd)::after {
    right: -50%;
    /* transform: skewX(-25deg) rotate(3deg); */
  }				
  
  /* Even stuff */
  .submenu > li:nth-child(even){
    /* transform: skewX(25deg) translateX(0); */
  }
  
  .submenu > li:nth-child(even) > a {
    /* transform: skewX(-25deg); */
  }
  
  .submenu > li:nth-child(even)::after {
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
  }
  
  /* Show dropdown */
  .submenu,
  .submenu li {
    opacity: 0;
    visibility: hidden;			
  }
  
  .submenu li {
    transition: .2s ease transform;
  }
  
  .menu > li:hover .submenu,
  .menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
  }		
  
  .menu > li:hover .submenu li:nth-child(even){
    /* transform: skewX(25deg) translateX(15px);			 */
  }
  
  .menu > li:hover .submenu li:nth-child(odd){
    /* transform: skewX(-25deg) translateX(-15px);			 */
  }

  .menu .a-btn{
    background-color: transparent !important;
  }

  .menu .connect-wallet, .connect-wallet-s{
    background-color: transparent !important;
  }

  .a-btn.connect-wallet:hover
{   text-decoration: none;
  color: white;
}